<!DOCTYPE html>

<head>

    <title>Northeastern Illinois University Internships</title>
    <link href="static/FCD_About_page.css" rel="stylesheet" type="text/css"/>
      
</head>

<body>
 
    <h1>Northeastern Illinois University Internships Available</h1>
    <h2> About Us</h2>

    <div class="topnav">
        <a href="/">Home</a>
        <a href="/internships">STEM Internships</a>
        <a class="#active" href="/aboutpage">About Us</a>
        <a href="/contact">Contacts</a>
    </div>
    
	<div class="about-section"> 
		<p>The websites you are looking is made by us the first class developers and if you want to see what we look like you should look at the bottom this is what we look like.</p>
        
            <img src="static/Puppy.jpg" alt="Squad" height="400" width="400">
        
            <p></p>
        <h3>Our Background</h3>
            <p>[Some Background]</p>
            
        <h3>About us individually</h3>    
        <ol>
            <li>
                <h3>Sergio</h3>
                <p>Major: </p>
                <p>Interest: </p>
                <p>Fav Place: </p>
            </li>
            <li>
                <h3>Kathy</h3>
                <p>Major: </p>
                <p>Interest: </p>
                <p>Fav Place: </p>
            </li>
            <li>
                <h3>Raul</h3>
                <p>Major: </p>
                <p>Interest: </p>
                <p>Fav Place: </p>
            </li>
        </ol>

        <h3>The Reason this was made</h3>
            <p>Type us some reasons</p>        
            <p></p>
	</div>
          
</body>