<!DOCTYPE html>
<head>

    <title>Northeastern Illinois University Internships</title>
    <link href="static/FCD_About_page.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
      
</head>
<div class="Top">
<body>
 
    <h1>Northeastern Illinois University Internships</h1>
    
<div class="topnav">
  <a  href="/">Home</a>
  <a href="/internships">STEM Internships</a>
  <a class="#active" href="/aboutpage">About Us</a>
  <a href="/contact">Contacts</a>
</div>
    
	<div class="about-section"> 
        <p>The website you are looking is made by us, the <style></i> First Class Developers</i> </style> (FCD), and this is us here in the photo below.</p>
        
            <img src="static/yep.jpg" alt="Squad" height="500" width="800">
        
        <h3>Background</h3>
            <p> We are part of a group of 14 students learning programming fundamentals through the CSSI-X Google Summer Institute program. The three of us worked together to complete this final project. While working through this project we learned about each other and it helped us to acquire team bulding skills.
            </p>
            
        <h2>About Us</h2> 
        
            <div style="text-align: center">
                <h3>Sergio</h3>
                <p>Major: Computer Science </p>
                <p>Interest: Football</p>
                <p>Favorite Place: Texas </p>
            </div>
            <br>
            <div style="text-align: center">
                <h3>Kathy</h3>
                <p>Major: Computer Science </p>
                <p>Interest: Design Thinking and Human Computer Interaction </p>
                <p>Favorite Place: Asia </p>
            </div>
            <br>
            <div style="text-align: center">
                <h3>Raul</h3>
                <p>Major: Computer Science</p>
                <p>Interest: Video Games </p>
                <p>Favorite Place: Home </p>
            </div>
	</div>
          
</body>