<!DOCTYPE html>
<html>

	<head>
		
		<title>Northeastern Illinois University Internships</title>
		<link href="static/FCD_Internships.css" rel="stylesheet" type="text/css"/>
		
	</head>
	
	<body>
		
		<h1>Northeastern Illinois University Internships Available</h1>
		
		<div class="topnav">
  <a  href="/">Home</a>
  <a class="#active" href="/internships">STEM Internships</a>
  <a href="/aboutpage">About Us</a>
  <a href="/contact">Contacts</a>
</div>
        
        <form action="/internships" method="POST">
  <div>
    <label for="Title">Title:</label>
    <input type="text" id="Title" name="Title">
  </div>
  <div>
    <label for="Link">Link:</label>
    <input type="url" id="Link" name="Link">
  </div>
  <div>
    <label for="Description">Description:</label>
    <textarea id="Description" name="Description"></textarea>
  </div>
            <div class="button">
  <button type="submit">Post Internship</button>
            </div>
</form>
        
         {% for internship in ships %} 
         <p><strong><a href="{{internship.Link}}" target="_blank"> {{internship.Title}} </a></strong><br />
            {{internship.Description}}
        </p>
		   {% endfor %}
        
		<div id="top">
         
         <!-- Please add navigation bar here -->

		</div>
    

	</body>

</html>