<!DOCTYPE html>

<head>
	<link href="static/FCD_Home.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <h1>Northeastern Illinois University Internships</h1>
<div class="topnav">
  <a class="#active" href="/">Home</a>
  <a href="/internships">STEM Internships</a>
  <a href="/aboutpage">About Page</a>
  <a href="/contact">Contacts</a>
</div>
    <img src="static/visual-reverse-image-search-v2_intro.jpg"
    alt="Butterfly"
    style="width:900px;height:700px; style=center">
		
		<div id="top">
			
			<a href="internships.html">Home</a>
			<a href="csip-announcement-page.html">STEM Internships</a>
			
		</div>

      
    
</body>