<!DOCTYPE html>

<head>
	<title>Northeastern Illinois Internships Contact Page</title>
	<link href="static/FCD_Contact.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<h1>Northeastern Illinois University Internships Available</h1>
	<h2>Contact Page</h2>
<div class="topnav">
  <a href="/">Home</a>
  <a href="/internships">STEM Internships</a>
  <a href="/aboutpage">About Page</a>
  <a class="#active" href="/contact">Contacts</a>
</div>
	
	<div class="contact-section">
	<h3>Contact the following if interested in any of the  available internships </h3>
	<ul>
		
		<li>
			<div>
			<h3>Dr.Maria Luna-Duarte</h3>
			<h4>- m-duarte@neiu.edu</h4>
			<h4>-No phone number available</h4>
			<h4>-Director of Northeastern Illinois University El Centro</h4>
			</div>
			<div>
			
            <img src="static/maria profile.jpg" alt="Squad" height="400" width="400">
			</div>
			
			
		</li>
		
		
		<li>
			<div>	
			<h3>Rebeca Lamadrid-Quevedo</h3>
			<h4>- m-lamadrid-quevedo@neiu.edu</h4>
			<h4>-(773)442-4095</h4>
			<h4>-Assistant Director of Northeastern Illinois University</h4>
			</div>
			<div>
		
            <img src="static/Rebeca profile.jpg" alt="Squad" height="400" width="400">	
			</div>	
		
		
		</li>
		
		
		<li>
			<div>	
			<h3>Kris Pierre</h3>
			<h4>- k-pierre@neiu.edu</h4>
			<h4>- No phone number available</h4>
			<h4>-Director of Career Development and Community Partnerships</h4>
			</div>
			<div>
		
            <img src="static/Puppy.jpg" alt="Squad" height="400" width="400">	
			</div>
		
		</li>
		
		
		<li>
			<div>	
			<h3>LynetteCorrea-Velez</h3>
			<h4>- l-correavelez@neiu.edu</h4>
			<h4>- No phone number available</h4>
			<h4>-Assistant Director of Career Development and Community Partnerships</h4>
			</div>
			<div>
			 <img src="static/Puppy.jpg" alt="Squad" height="400" width="400">
			</div>
		
		</li>
		
		
	</ul>
	</div>	
	
</body>