<!DOCTYPE html>

<head>
	<title>Northeastern Illinois Internships Contact Page</title>
	<link href="static/FCD_Contact.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<h1>Northeastern Illinois University Internships Available</h1>
	<h2>Contact Page</h2>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/internships">STEM Internships</a>
  <a href="/aboutpage">About Page</a>
  <a href="/contact">Contacts</a>
</div>
	<h3>Contact the following if interested in any of the  available internships </h3>
	<ul>
		<h3><li>Dr.Maria Luna-Duarte</li></h3>
		<h4>- m-duarte@neiu.edu</h4>
		<h4>-No phone number available</h4>
		<h4>-Director of Northeastern Illinois University El Centro</h4>
		<h3><li>Rebeca Lamadrid-Quevedo</li></h3>
		<h4>- m-lamadrid-quevedo@neiu.edu</h4>
		<h4>-(773)442-4095</h4>
		<h4>-Assistant Director of Northeastern Illinois University</h4>
		<h3><li>Kris Pierre</li></h3>
		<h4>- k-pierre@neiu.edu</h4>
		<h4>- No phone number available</h4>
		<h4>-Director of Career Development and Community Partnerships</h4>
		<h3><li>LynetteCorrea-Velez</li></h3>
		<h4>- l-correavelez@neiu.edu</h4>
		<h4>- No phone number available</h4>
		<h4>-Assistant Director of Career Development and Community Partnerships</h4>
	</ul>
	
</body>