<!DOCTYPE html>

<head>
	<title>Northeastern Illinois Internships Contact Page</title>
	<link href="../static/FCD_Contact.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Northeastern Illinois University</h1>
    <h3>STEM Internship Resource Guide</h3>
<div class="topnav">
  <a href="/">Home</a>
  <a href="/internships">STEM Internships</a>
  <a href="/aboutpage">About Us</a>
  <a class="#active" href="/contact">Contacts</a>
</div>
	
	<div class="contact-section">
    <h2>Contacts</h2>
	<h3>Northeastern Illinois University staff would love to support you! Please reach out to the following staff who can help you during the internship application process.</h3>
	<div id="rows">
		<div>
			<h4>Dr. Maria Luna-Duarte</h4>
			<h4>Email: m-duarte@neiu.edu</h4>
			<h4>Director of Northeastern Illinois University El Centro</h4>
            <img src="../static/MainLunaDuarte_0.jpg" alt="Squad" height="400" width="400">	
		</div>
		<div>
			<div>	
			<h4>Rebeca Lamadrid-Quevedo</h4>
			<h4>Email: m-lamadrid-quevedo@neiu.edu</h4>
			<h4>(773) 442-4095</h4>
			<h4>Assistant Director of Northeastern Illinois University</h4>
			</div>
			<div>
            <img src="../static/Rebeca.jpg" alt="Squad" height="400" width="400">	
			</div>	
		</div>
		<div>
		<ul>
            <br>
			<div>	
			<h4>Kris Pierre</h4>
			<h4>Email: k-pierre@neiu.edu</h4>
			<h4>Director of Career Development and Community Partnerships</h4>
			</div>
			<div>
		
            <img src="../static/NEIU%20Headshot%20April%202013.jpg" alt="Squad" height="400" width="400">	
			</div>
		
		</ul>
		</div>
		<div>
		<ul>
			<div>	
			<h4>Lynette Correa-Velez</h4>
			<h4>Email: l-correavelez@neiu.edu</h4>
			<h4>Assistant Director of Career Development and Community Partnerships</h4>
			</div>
			<div>
			 <img src="../static/lynette.jpg" alt="Squad" height="400" width="400">
			</div>
		
		</ul>
		</div>
		</div>
	</div>	
	
</body>