
body{
	margin: 20px;
	background-color: #f6a800;
}

#content{
	width: 40%;
	margin: auto;
	border-left: solid;
	padding-left: 3%;
}
h2{
	color: black;
    height: auto;
    border-top-color: #F6A800;
	font: 35px "Source Sans Pro", sans-serif;
    background-color: #F6A800;
    text-align: center;
    position: relative;
    top: 30px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #004a98;
  overflow: auto;
    border-top: solid white;
  position: relative;
	top: -70px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f6a800;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #004a98;
  color: white;
}



p, ul, ol{
	color: #000000;
	font: 14px verdana, arial, sans-serif;
}

#side{
	margin-left: 15%;
	margin-top: 5%;
	float: left;
	background-color: #ADD8E6;
}

#name{
	color: green;
}

h1{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 40px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: #004a98;
	width: 100%;
	text-align: center;
    top: -30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

h3{
	color: black;
	font-family: "Source Sans Pro", sans-serif;
    text-align: center;
	/*text-align: start;*/
}

#rows{
	display:grid;
	grid-template-columns: 1fr 1fr;
}
h4{
	color: black;
	font-family: "Source Sans Pro", sans-serif;
	text-align: start;
}
.contact-section{
    
}