body{
    position: relative;
    top:-60px;
    left:-10px;
	background-color: #f6a800;
    width: 100%;
}

#content{
	width: 40%;
	margin: auto;
	border-left: solid;
	padding-left: 3%;
}
h2{
    font-family: "Source Sans Pro", sans-serif;
	background color: #004a98;
	text-align: center;
	background-color: #004a98;
	color: white;
	position: relative;
	top: -40px;
}
/* Add a black background color to the top navigation */
.topnav {
    font-family: "Source Sans Pro", sans-serif;
  background-color: #004a98;
  overflow: auto;
  position: relative;
    border-top: solid white;
    width: 100%;   
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f6a800;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #004a98;
  color: white;
}



p, ul, ol{
	color: #000000;
	font: 14px;
    font-family: "Source Sans Pro", sans-serif;
}

#side{
	margin-left: 15%;
	margin-top: 5%;
	float: left;
	background-color: #ADD8E6;
}

#name{
	color: green;
}

h1{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 40px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: #004a98;
	width: 100%;
	text-align: center;
    position: relative;
    bottom: -30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

h3{
	color: darkblue;
	font-family: "Source Sans Pro", sans-serif;
    font-size: 40px;
    text-align: center;
	/*text-align: start;*/
}

#rows{
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.idk{
	text-align: center
}